/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.row-header {
    margin: auto;
    padding: auto;
}

.row-content {
    margin: auto;
    padding: auto;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding: 100px 30px 100px 30px;
    margin: auto;
    background-color: white;
}

address {
    font-size: 80%;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: darkslateblue;
}

.login-div {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.logo-div {
    padding-bottom: 10%;
}

.nav-buttons {
    color: lightgray;
}

.nav-link {
    color: lightgray;
}

nav a:hover {
    color: white;
}

.dropzone {
    position: relative;
    width: 100%;
    height: 200px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}

.item-button {
  margin: 2px;
}
